.type-1560 {
  font-family: "Nunito Sans";
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word; }
  @font-face {
    font-family: Nunito Sans;
    src: url(../fonts/NunitoSans-Regular.ttf); }
  .type-1560 p {
    color: #666666; }
    .type-1560 .list-item .disp_none {
      display: none; }
    .type-1560 .list-item .show {
      display: block; }
    .type-1560 .list-item .item {
      cursor: pointer; }
      .type-1560 .list-item .item .fa-caret-up {
        display: none; }
    .type-1560 .list-item .itemShow {
      color: #21bda1; }
      .type-1560 .list-item .itemShow .fa-caret-down {
        display: none; }
      .type-1560 .list-item .itemShow .fa-caret-up {
        display: block; }
